.cart-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 1rem;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 150px;
    margin-right: 2rem;
}

.item-details {
    flex: 1;
}

.item-details h3 {
    margin-top: 0;
}

.cart-actions {
    text-align: center;
    margin-top: 2rem;
}

.cart-actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

.cart-actions button:hover {
    background-color: #45a049;
}

form {
    display: inline;
    margin-right: 1rem;
}

form button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #da190b;
}

.cart-total {
    display: flex;
    align-items: center; 
}

.total-label {
    font-weight: bold;
    font-size: 18px;
}

.total-amount {
    font-size: 18px;
}