body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 1rem;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.container {
    padding: 2rem;

}

.content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1rem;
}



.product-details {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    margin-bottom: 10px;
}



.buttons {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-buy {
    background-color: #007bff;
    color: #fff;
}

.btn-add-cart {
    background-color: #28a745;
    color: #fff;
    margin-left: 10px;
}


/* login */
/* resources/css/styles.css */

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}
